VITE_SUPABASE_URL=https://keibyrdysdprbablnqzx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtlaWJ5cmR5c2RwcmJhYmxucXp4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2ODgwODYsImV4cCI6MjA5MTI2NDA4Nn0.tP42hk4KE3f9e3Xi7r7cjVkA3q_sBoZmJhXPL506Pu4
VITE_PUBLIC_APP_URL=http://localhost:5174